@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap');


/* INICIO RESET */
* {
    font-family: 'Nunito', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    color: inherit;
}


a {
    text-decoration: none;
    display: block;
}

ul, 
li {
    list-style: none;
}


img, 
video {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    display: block;
}


body {
    background-color: #FCFCFC;
    /* min-height: 100vh; */
}
/* ==============================*/
/* FIN RESET */
/* ==============================*/



.header {
    width: 90%;
    margin: auto;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    width: 130px;
}

.logo--nav {
    margin: auto;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 100vh;
    width: 0px;
    overflow: hidden;

    box-shadow: 5px 0 10px 0 rgb(0 0 0 / .05);
    transition: width 300ms;
}

.nav__ul {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.nav__item {
    width: 100%;
}

.nav__link {
    padding: 8px 10px;
    border-radius: 5px;
    color: #777777;
    transition: color 300ms;
}

.nav__link:not(.nav__link--active):hover {
    color: #333333;
}

.nav__link--active {
    background-color: steelblue;
    color: #FFFFFF;
}

/* icono hamburger */
.hamburger {
    width: 30px;
    height: 21px;

    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.line {
    background-color: #222222;
    height: 5px;
    border-radius: 3px;
}


.nav_check:checked ~ .nav {
    width: 250px;
}




@media screen and (min-width: 1024px) {
    .nav {
        position: unset;
        background-color: transparent;
        box-shadow: none;
        width: auto;
        overflow: visible;
        height: auto;
    }

    .nav__ul {
        flex-direction: row;
        width: auto;
        padding: 0;
    }

    .nav__item {
        width: auto;
    }

    .logo--nav,
    .hamburger {
        display: none;
    }
}