


/* CLASE MANIPULADA DESDE JS */
.body_move {
    margin-left: 250px;
}





@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0;
    }
}
/* ======================================================= */



.main {
    padding: 1.5rem;
}