@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;600;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    color: inherit;
}


a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

img,
video {
    width: 100%;
}

button {
    all: unset;
}


body {
    background-color: #F5F5F5;
}