@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Manrope, sans-serif;
    line-height: 1.6;
}


.s-center {
    text-align: center;
}

.flex {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .s-center {
        text-align: left;
    }
}