@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&family=Poppins:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    all: unset;
}


body {
    font-family: 'Nunito', sans-serif;
}