



.container--cover {
    padding-top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.cover {
    background-image: url('../images/background-cover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;
}


.cover__info {
    flex: 1 1 260px;
}

.cover__title {
    font-size: 40px;
    /* max-width: 400px; */
}

.cover__subtitle {
    font-size: 18px;
    line-height: 64px;
}

.cover__paragraph {
    margin-top: 20px;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .8px;
}

.link {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7328ff;
    font-weight: 700;
    font-size: 16px;
}

.cover__graphic {
    flex-grow: 1.5;
}

.main {
    min-height: 200vh;
}